body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.topnav {
overflow: hidden;
background-color:black;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav-right {
float: right;
}

.main {
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
font: Arial;
}


.big {
line-height:1.8;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font: Arial;
  font-size: 18px;
}

.button:hover {
  background-color: #f1f1f1;
}


hr.solid {
border-top: 2px solid #bbb;
}


.h1 {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font: Arial;
}

.p2 {
  color: black;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 16px;
  font: Arial;
}

.flex-services{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 204px;margin-right: 204px;
    align-items: center;
  }
  .services img {
    max-width: 30%;
    max-height: 30%;
  }
  .services p {
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    letter-spacing: 0.36px;
    margin-top: 0;
  }
  .services h2 {
    font-family: "Titillium Web";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    color: #ffffff;
    padding-top: 60px;
    margin-bottom: 0;
  }
  .services hr {
    width: 87px;
    height: 4px;
    border: none;
    background-color: #14a58c;
  }
  .serv-img {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 70px;
    padding-top: 83px;
    padding-bottom: 128px;


meta name="viewport" content="width=device-width, initial-scale=1"

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
input[type=email], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}


.footer {
   position: solid;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
.fa {
padding: 20px;
font-size: 30px;
width: 80px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: none;
color: white;
}

.fa-google {
background: none;
color: white;
}

.fa-skype {
background: none;
color: white;
}


<meta name="viewport" content="width=device-width, initial-scale=1">
.container-testemonials {
border: 2px solid #ccc;
background-color: white;
border-radius: 5px;
padding: 16px;
margin: 16px 0
}

.container-testemonials::after {
content: "";
clear: both;
display: table;
}

.container-testemonials img {
float: left;
margin-right: 20px;
border-radius: 50%;
}

.container-testemonials span {
font-size: 20px;
margin-right: 15px;
}

@media (max-width: 500px) {
.container-testemonials {
  text-align: center;
}
.container-testemonials img {
  margin: auto;
  float: none;
  display: block;
}
}

